<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.evbarleyg.seattle-actives</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/bash</string>
    <string>/Users/evanbarley-greenfield/repos/seattle-tracker/scripts/refresh_actives_daily.sh</string>
  </array>
  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key>
    <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
  </dict>
  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key>
    <integer>6</integer>
    <key>Minute</key>
    <integer>0</integer>
  </dict>
  <key>RunAtLoad</key>
  <false/>
  <key>WorkingDirectory</key>
  <string>/Users/evanbarley-greenfield/repos/seattle-tracker</string>
  <key>StandardOutPath</key>
  <string>/Users/evanbarley-greenfield/repos/seattle-tracker/tmp/launchd_actives.out.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/evanbarley-greenfield/repos/seattle-tracker/tmp/launchd_actives.err.log</string>
</dict>
</plist>
